[Unit]
Description=Puma HTTP Server
After=network.target

[Service]
Type=simple
User=evg-pc
WorkingDirectory=/home/evg-pc/reddit
ExecStart=/bin/bash -lc 'puma'
Restart=always

[Install]
WantedBy=multi-user.target
